 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <p>I received my Bachelor degree in 2015 (summa cum laude) and my Master degree in 2018 (summa cum laude) in computer engineering at Alma Mater Studiorum, University of Bologna.
                    </p>
                </div>
                <div class="col-sm-4 col-sm-offset-2 text-center">
                    <p>Currently, I am a third year PhD student at Structural and Environmental Health Monitoring and Management (SEHM2) at Alma Mater Studiorum, University of Bologna.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <a href="static/CV_eng.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
                <div class="col-sm-4 col-sm-offset-2 text-center">
                    <a href="#publications" class="portfolio-link btn btn-lg btn-outline" data-toggle="modal">
                       <i class="fa fa-pen-fancy"></i> Publications
                    </a>
                </div>
                
            </div>
        </div>
    </section>
