 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        <div class="container" style="color:#{{site.color.primary}}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h4>{{ post.title }}</h4>
                            <hr>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">  
                            {% if post.authors %}
                                <span class="modal-label col-lg-1">Authors:</span>
                                <span class="col-lg-5">
                                    {% for auth in post.authors %}
                                            {{ auth }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            {% if post.conference %}
                                <span class="modal-label col-lg-1">Conference:</span>
                                <span class="col-lg-5">
                                    {{ post.conference }}
                                </span>
                            {% endif %}
                            {% if post.project-date %}
                                <span class="modal-label col-lg-1">Date:</span>
                                <span class="col-lg-5">
                                    {{ post.project-date }}
                                </span>
                            {% endif %}
                            {% if post.keywords %}
                                <span class="modal-label col-lg-1">Keywords:</span>
                                <span class="col-lg-5">
                                    {% for key in post.keywords %}
                                        {{ key }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                            <br>
                        <div class="content" style="color: #{{site.color.primary}}; font-size:10px; margin-top:10%;">
                            {{post.content}}
                        </div>                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endfor %}