
    <!-- List of publications  -->
    <section id="news">
        <div class="container" style="color: #{{ site.color.primary}};">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <p class="col-sm-8 col-sm-offset-2 scrollable">
                <br> <strong>2020:</strong> 
                <br><strong> - February - </strong><strong><u>2 CVPR papers</u></strong> accepted!
                <br><strong> - February -</strong> We will run a <a href="https://sites.google.com/view/eccv-2020-robust-depth">tutorial</a> at <strong>ECCV 2020 </strong> with Konstantinos Batsos and Philippos Mordohai!
                <br><strong> - February -</strong> We will run a <a href="https://sites.google.com/view/cvpr-2020-depth-from-mono/home">tutorial</a> at <strong>CVPR 2020 </strong> with Clément Godard, Jamie Watson, Michael Firman, Gabriel J. Brostow!
                <br> <strong>2019:</strong>
                <br><strong> - November - </strong><strong><u>1 AAAI paper</u></strong> accepted!
                <br> <strong> - February - </strong> <strong><u>1 CVPR paper</u></strong> accepted!
                <br> <strong>2018:</strong> 
                <br> <strong> - June - </strong> 1 <strong>IROS paper</strong> accepted!
                </p>
            </div>
        </div>
    </section>